

@media (min-width:1000px){
    .container{width:1000px;}

}

@media (min-width:760px){
    .container{width:750px;}

}

@media screen and (max-width:640px){
    #home .company{position: absolute;top:20%;}
    #home .company .logo{width:100px;height:100px;}
    #home .company .logo img{width:100%;height:100%;}
    #home .company h1{font-size: 12px;}
    #nav{display:none;}
    .nav-b{display:block;}
    #AboutUs .img img{width:100%;height:100%;}
    /*nav form{position:absolute;top:-40px;right:0;}*/
    /*nav form input{width:61px;}*/
    /*nav form input:focus{width:130px;}*/
    /*article{float:none;width:auto;}*/
    /*aside{float:none;width:auto;padding-top:27px;}*/
}