/**********************/
li{list-style:none;}
a{text-decoration: none;}
img{border: 0;}
input{border: 0;}

body,html{height:100%;}
#home{
    background: url("../images/banner_01.jpg") no-repeat ;
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home .intro{display: block;position: absolute;left:50%;bottom: 70px;}
.company{
    text-align: center;
    width:100%;
    position: absolute;
    top:50%;
    left: 0;
    color:#fff;
}
.header .navbar{margin-bottom: 0;}

.header .icon-bar{background: #222;}

#AboutUs{text-align: center;}
.pfblock{padding:120px 0 100px;background: #f1f1f1;}
.title h2{display: inline;color: #1d1d1d}
.title span{color:#1d1d1d;}
.p{line-height:41px;margin: 0;}
.pfblock .introduce p{color:#383838;line-height:25px;}

.services-title{height:210px;background: #fff;}
.services-title{text-align: center;}
.services-title .title{padding-top:68px;}

.project{background: url("../images/footer.png") no-repeat;padding:150px 0;}